/Projetos/PersistenciaSAD/nbproject/private/
/Projetos/PersistenciaSAD/target/
/Projetos/TesteConcorrencia/nbproject/private/
/Projetos/SoftwareSAD/target/
/Projetos/GeradorAvaliacaoJson/nbproject/private/
/Projetos/GeradorAvaliacaoJson/build/
/Projetos/GeradorAvaliacao/nbproject/private/
/Projetos/GeradorAvaliacao/build/
/Projetos/t/nbproject/private/
/Projetos/t/build/